@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../font/eot/iranyekanwebbold.eot");
  src: url("../font/eot/iranyekanwebbold.eot?#iefix")
      format("embedded-opentype"),
    url("../font/woff/iranyekanwebbold.woff") format("woff"),
    url("../font/ttf/iranyekanwebbold.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url(../font/eot/iranyekanwebregular.eot);
  src: url(../font/eot/iranyekanwebregular.eot?#iefix)
      format("embedded-opentype"),
    url(../font/woff/iranyekanwebregular.woff) format("woff"),
    url(../font/ttf/iranyekanwebregular.ttf) format("truetype");
}
