.multi-graph {
  width: 30vw;
  height: 15vw;
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}
.multi-graph:before {
  content: "";
  width: 30vw;
  height: 15vw;
  border: 6vw solid rgba(0, 0, 0, 0.644);
  border-bottom: none;
  position: absolute;
  box-sizing: border-box;
  transform-origin: 50% 0%;
  border-radius: 300px 300px 0 0;
  left: 0;
  top: 0;
}
.multi-graph .graph {
  width: 30vw;
  height: 15vw;
  border: 6vw solid var(--fill);
  border-top: none;
  position: absolute;
  transform-origin: 50% 0% 0;
  border-radius: 0 0 300px 300px;
  left: 0;
  top: 100%;
  z-index: 5;
  -webkit-animation: 1s fillGraphAnimation ease-in;
  animation: 1s fillGraphAnimation ease-in;
  transform: rotate(calc(1deg * (var(--percentage) * 2.2)));
  box-sizing: border-box;
  cursor: pointer;
}
.multi-graph .graph:after {
  content: attr(data) " " counter(varible) "%";
  counter-reset: varible var(--percentage);
  background: #333;
  box-sizing: border-box;
  color: #fff;
  font-weight: 200;
  font-size: 12px;
  height: 25px;
  padding: 5px;
  border-radius: 0.5rem;
  top: 0px;
  position: absolute;
  left: 0;
  transform: rotate(calc(-1deg * var(--percentage) * 2.2))
    translate(-60px, -20px);
  transition: 0.2s ease-in;
  transform-origin: 0 50% 0;
  opacity: 0;
}
.multi-graph .graph:hover {
  opacity: 0.8;
}
.multi-graph .graph:hover:after {
  opacity: 1;
  left: 30px;
}

@-webkit-keyframes fillAnimation {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(135deg);
  }
}

@-webkit-keyframes fillGraphAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}
@keyframes fillGraphAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}

.inline-absolute {
  position: absolute;
  top: 3px;
  right: 0;
  left: 0;
}
.inline-absolute.center {
  top: 40%;
}

.rtl .input-group-append .input-group-text,
.rtl .input-group-prepend .input-group-text {
  border-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.rtl .input-group > .form-control:not(:first-child) {
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.nowrap {
  white-space: nowrap;
}
.form-control:disabled,
.swal2-modal .swal2-content .swal2-input:disabled,
.form-control[readonly],
.swal2-modal .swal2-content .swal2-input[readonly] {
  background-color: rgba(86, 88, 89, 0.7) !important;
}

a {
  color: inherit !important;
}
a:hover {
  text-decoration: none !important;
}

.MuiPaper-root {
  box-shadow: none !important;
}
.MuiPaper-root *,
.MuiTooltip-tooltip {
  font-family: iranyekan !important;
}
.MuiPaper-root td>div{
  border-bottom: 0 !important;
}
.MuiTableCell-head,
.MuiTableCell-body {
  text-align: inherit !important;
}
.MuiTablePagination-toolbar {
  flex-direction: row-reverse;
}
.MuiTableCell-alignRight {
  flex-direction: inherit !important;
}
.MuiInputBase-input{
  min-width: 50px !important;
}
.breadcrumb {
  direction: ltr;
}
.ltr {
  direction: ltr;
}
.rdw-editor-main {
  min-height: 200px;
  max-height: 400px;
  border: 1px solid #cfd6e7;
}
.news-image {
  height: 60px;
  border-radius: 10px;
}
.news-img-bg {
  height: 230px;
  border: 1px dashed #d8d8d8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-img-bg input {
  display: none;
}
.news-img-icon {
  font-size: 2rem;
  font-size: 5rem !important;
  color: #808080;
}
.news-img-temp {
  width: 100%;
  max-height: 220px;
}
.neo{
  border-radius: 5px;
  box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff !important;
}
.action-icon{
  color: #212121;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.multi__control{
  background: transparent!important;
}
.multi__control{
  padding: 6px;
}
.multi__multi-value  {
  padding: 5px;
  border-radius: 10px !important;
  background: linear-gradient(to right, #547c9c, #047edf 99%) !important;
}
.multi__multi-value__label{
  color:#fff!important;
}
.multi__multi-value__remove{
  background: transparent !important; 
}
.bg-detail{
  background: #eee;
  position: relative;
  min-height: 100px;
}